<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table align="center">
  <thead>
    <tr>
      <th>Title</th>
      <th>Account</th>
      <th>Date</th>
      <th>Content</th>
      <th colspan="2.5"></th>
    </tr>
  </thead>
  <%#　以下をScaffoldingしたindex.html.erbに追記する %>
  <%= form_tag posts_path, :method => 'get' do %> <%#　projects_pathはモデル名で読みかえること %>
    <p>
      <%= text_field_tag :search, params[:search]%>
      <%= submit_tag "Search Account", :name => nil %>
      <span class="post-count"><%= @posts.count %>件のポストがあります</span>
    </p>
  <% end %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.account %></td>
        <td><%= post.date %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Post', new_post_path %>
<br>
<%= link_to 'Latest Post', latest_posts_path %>


